.breadcrumb{
    background: none;
    float: right;
    font-size: 14px;
}
.navbar-inverse {
    /*background-color: #222;*/
    /*border-color: #080808;*/
}
[data-required] label:after{
    content: '*';
    color: red;
}
.navbar-inverse {
    background-color: #777;
    border-color: #555;
}
.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF;
}
.navbar-inverse .navbar-nav > li > a {
    color: #e1e1e1;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #636161;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #777;
    outline: 0;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #777;
    outline: 0;
}

.bootstrap-datetimepicker-widget td.active, .bootstrap-datetimepicker-widget td.active:hover {
    background-color: #777;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #777;
    border-color: #777;
}